*{
	margin: 0;
	padding: 0;
}
section{
	background: url('images/the-starry-night-blur.jpg') no-repeat fixed 50% 50%;
	height: 1600px;
	/*-webkit-filter: blur(10px);*/
	position: relative;
}
article{
	background: url('images/amen.png') no-repeat;
	height: 100%;
	position: absolute;
	top: 400px;
	width: 180px;
	height: 180px;
}

h1 {
	color: black;
}